@media(max-width:960px) {
    .circle-container {
        margin-top: 100px;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate-image {
    animation: rotate 2s linear infinite;
}

.grecaptcha-badge {
    width: 256px;
    height: 60px;
    display: block;
    transition: right 0.3s ease 0s;
    position: fixed;
    bottom: 14px;
    right: -186px;
    box-shadow: gray 0px 0px 5px;
    border-radius: 2px;
    overflow: hidden;
    opacity: 0;
}

.side-icon-bar {
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.side-icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.side-icon-bar a:hover {
    background-color: #000;
}

.side-icon-bar-call {
    background: #3986dd;
    color: white;
    border-radius: 10px 0 0 0;
}

.side-icon-bar-whatsapp {
    background: #12af66;
    color: white;
}

.side-icon-bar-inquiry {
    background: #bb0000;
    color: white;
    border-radius: 0 0 0 10px;
}

.side-icon-bar-lightbox {
    display: none;
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    width: 300px;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

.side-icon-bar-lightbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.close-side-icon-bar-lightbox {
    cursor: pointer;
    font-size: 24px;
    color: #bbb;
}

.close-side-icon-bar-lightbox:hover {
    color: #000;
}

.side-icon-bar-lightbox-content {
    font-size: 16px;
    color: #333;
}

@media (max-width: 425px) {
    .side-icon-bar a {
        padding: 10px !important;
    }
}
